.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: sticky;
}

header {
    color: #F9DC5C;
}

body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background-color: #EEEEEE;
}

footer {
    margin: 0px;
    background-color: #F9DC5C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p, li, a {
    color: #403F4C;
}

.footer-container {
    display: flex;
}

.sucursales, .soporte, .redes{
    display: inline-block;
    flex: 1;
    height: 160px;
    text-align: center;
}
.soporte > p, .redes > p {
    padding: 17px 0;
}

div > small {
    display: inline-block;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.sucursales > ul {
    font-weight: 400;
}

.soporte > span {
    font-weight: 400;
}

.redes > span {
    font-weight: 400;
}

.iconos-redes img {
    height: 40px;
    width: 40px;
    margin: 0px 10%;
}