.main-container {
    display: flex;
    width: 100%;
}

aside {
    display: block;
    float: left;
}

.sidebar li {
    display: list-item;
    text-align: -webkit-match-parent;
    border-bottom: 2px solid #eaecef;
}

.sidebar {
    font-size: 20px;
    width: 16.4rem;
    background-color: #8ECDDD;
    position: static;
    z-index: 15;
    border-radius: 0 10% 10% 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
    height: fit-content;
}

.sidebar ul {
    margin: 0;
    list-style-type: none;
}

.sidebar > .catalog > li > span.item-name {
    font-size: 1.1em;
    line-height: 1.7;
    font-weight: 700;
}

.sidebar > .catalog {
    padding: 1.5rem 1.5rem;
}

.sidebar span {
    display: inline-block;
}

.catalog-container {
    flex: 1.8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 3rem;
    width: auto;
    height: 100%;
    padding: 3rem 4rem;
}

.item {
    position: relative;
    border-radius: 25px;
    width: fit-content;
}

.item figure {
    height: 100%;
    margin: 0;
}

.item img {
    height: 350px;
    width: 265px;
    border-radius: 25px;
    object-fit: cover;
}

.item figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(192, 183, 189, 0.527);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.item figure a:hover + figcaption {
    opacity: 1;
    border-radius: 30px;
    margin-bottom: 1.5px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}